//@import url(https://fonts.googleapis.com/css?family=Roboto:900,500);

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BEBAS.eot');
    src: url('../fonts/BEBAS.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS.woff') format('woff'),
         url('../fonts/BEBAS.ttf') format('truetype'),
         url('../fonts/BEBAS.svg#BEBAS') format('svg');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
	font-family: 'arrows';
	src:url('../fonts/arrows/arrows.eot');
	src:url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arrows/arrows.woff') format('woff'),
		url('../fonts/arrows/arrows.ttf') format('truetype'),
		url('../fonts/arrows/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}



$red : #ec1c22;
$bebas : 'Bebas';

$color1:#63c5b9;


body, html{
	width: 100%;
	height: 100%;
	letter-spacing: .1em;
    font-size: 1rem;
    font-family: helvetica,sans;
}

.color1{
	color: $color1;
}

.color2{
	color: #4295cc;
}

.color3{
	color: #a82179;
}

.color4{
	color: #c11f44;
}

.color5{
	color: #cbbf8e;
}

.color6{
	color: #f8ef36;
}

.color7{
	color: #b1e263;
}

.color8{
	color: #f3ac46;
}


#home-area{
	position: fixed;
	z-index: 0;
	background: $red;
	width: 100%;
	height: 100%;
}

#main{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#content-area{
	width: 100%;
	display: inline-block;
	position: relative;
	z-index: 1;
	background: white;
	overflow: hidden;
}

.inner-img{
	position: relative;
	display: inline-block;
	margin-top: -50%;
	width: 100%;

}

.fullscreen{
	overflow: auto;
}

.inner-area{
	min-height: 100%;
	padding: 60px 0px;
}

#diamond-area{
	position: absolute;
	display: inline-block;
	top:50%;
	width: 100%;
	text-align: center;
	z-index: 1;
	img{
		width: 100%;
	}
}

#logo-area{
	position: absolute;
	display: inline-block;
	text-align: center;
	top:50%;
	z-index: 2;
	width: 100%;
}

.top-push{
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
}

#about-area{
	background: url('../img/middle-bg.jpg') no-repeat;
	background-size: cover;
	padding: 0px;
	.inner-area{
		padding: 0px;
	}
}

.about-item{
	padding: 150px;
	display: inline-block;
	background: rgba(0,0,0,.8);
	color: white;
	text-align: center;
	&.red{
		background: rgba(236,28,34,.8);
		color: #000;
	}
	h3{
		color: white;
		font-family: $bebas;
		font-size: 3rem;
		text-transform: uppercase;
	}
}

#roles-area{
	background: url('../img/roles-bg.jpg') no-repeat;
	background-size: cover;
	padding: 0px;
	padding: 0px;
}

.roles-item{
	display: inline-block;
	padding: 20px 0px;
	a{
		display: inline-block;
		text-align: center;
		width: 100%;
		padding: 0px 20px;

		.title{
			font-weight: bold;
			font-size: 1.3rem;
			text-transform: uppercase;
			line-height: 1.7rem;
			color: white;
			height: 50px;
			margin-top: 20px;

		}
	}

	&.roles1{
		background: rgba(99,197,185,1);
		&:hover{
			background: rgba(99,197,185,.7);
		}
	}
	&.roles2{
		background: rgba(66,149,204,1);
		&:hover{
			background: rgba(66,149,204,.7);
		}
	}
	&.roles3{
		background: rgba(168,33,121,1);
		&:hover{
			background: rgba(168,33,121,.7);
		}
	}
	&.roles4{
		background: rgba(193,31,68,1);
		&:hover{
			background: rgba(193,31,68,.7);
		}
	}
	&.roles5{
		background: rgba(203,191,142,1);
		&:hover{
			background: rgba(203,191,142,.7);
		}
	}
	&.roles6{
		background: rgba(248,239,54,1);
		&:hover{
			background: rgba(248,239,54,.7);
		}
	}
	&.roles7{
		background: rgba(177,226,99,1);
		&:hover{
			background: rgba(177,226,99,.7);
		}
	}
	&.roles8{
		background: rgba(243,172,70,1);
		&:hover{
			background: rgba(243,172,70,.7);
		}
	}
}

.reveal-modal{
	background: #000;
	color: white;
	border:0px;
}

.close-reveal-modal{
	color: white;
}

.roles-popup-small-img{
	width: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.roles-popup-title{
	font-size: 2.8rem;
	text-transform: uppercase;
	line-height: 4rem;
	color: white;
	float: left;
}

.popup-inner{
	padding: 50px 0px;
}

.works-item{
	color: white;
}

.no-padding-left{
	padding-left: 0px;
}

.no-padding-right{
	padding-right: 0px;
}

.no-padding{
	padding: 10px 0px;
}

.popup-img-client{
	margin:5px 0px;
	padding: 0px 5px;
}

#contact-area{
	background: url('../img/contact-bg.jpg') no-repeat;
	background-size: cover;
	padding: 0px;
	padding: 0px;
}

#contact-head{
	color: white;
	font-size: 7rem;
	font-weight: bolder;
	text-transform: uppercase;

}

#contact-form{
	label,.contact-submit-btn{
		font-size: 2rem;
		color: white;
		font-family: $bebas;
		text-transform: uppercase;
		background: none;
		padding: 0px;
	}

	.contact-submit-btn{
		margin: 10px 0px;
		&:hover,&:focus{
			color: #ed1c24;
		}
	}
	input,textarea{
		font-size: 1.3rem;
		min-height: 53px;
	}
	::-webkit-input-placeholder {
	   color: #ed1c24;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #ed1c24;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #ed1c24;  
	}

	:-ms-input-placeholder {  
	   color: #ed1c24;  
	}

	.name-field{
		margin-bottom: 10px;
		display: inline-block;
		width: 100%;
	}

}

#publication-area{
	background: url('../img/publication-bg.jpg') no-repeat;
	background-size: cover;
	padding: 0px;
	padding: 0px;
}

#officer-area{
	background: url('../img/bg-contact.jpg') no-repeat;
	background-size: cover;
	padding: 0px;
	padding: 0px;
}

#maps-area{
	background: url('../img/maps-bg.jpg') no-repeat;
	background-size: cover;
	padding: 0px;
	padding: 0px;
}

#subscribe-area{
	background: #e8ecef;
	padding: 0px;
	padding: 0px;
}



	#maps-box{
		position: relative;
		background: #fff;
	    display: inline-block;
	    max-width: 800px;
	    padding: 100px;
	    width: 100%;
	    border-radius: 10000px;
	    -moz-border-radius: 10000px;
	    -webkit-border-radius: 10000px;

	}
	#maps-box:after, #maps-box:before {
		top: 99%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	#maps-box:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 50px;
		margin-left: -50px;
	}
	#maps-box:before {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 36px;
		margin-left: -36px;
	}


.contact-txt{
	font-size: 3rem;
	color: #000;
	font-weight: bolder;
}

#location-txt{
	margin-top: 50px;
	color: white;
	font-size: 1.5rem;
}

.socmed{
	background: url('../img/icon-socmed.jpg') no-repeat;
	width: 57px;
	height: 57px;
	display: inline-block;
	margin: 10px;
	&#fb{
		background-position: 0px 0px;
		&:hover,&:focus{
			background-position: 0px -57px;
		}
	}

	&#ig{
		background-position: -57px 0px;
		&:hover,&:focus{
			background-position: -57px -57px;
		}
	}

	&#tw{
		background-position: -114px 0px;
		&:hover,&:focus{
			background-position: -114px -57px;
		}
	}
}

.officer-img{
	border-radius: 1000px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	overflow: hidden;
	display: inline-block;
	max-width: 100%;
}


.officer-detail{
	text-align: center;
	margin: 20px 0px;
	.name{
		color: #000;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-family: $bebas;
		margin-bottom: 0px;
		line-height: 1.5rem;
	}
	.title{
		font-size: 0.7rem;
		margin-bottom: 20px;
		color: #000;
	}
}

#officer-list{
	li{
		padding: 20px 25px;
		.inner-officer-list{
			cursor: pointer;
			display: inline-block;
			width: 100%;
			position:relative;
			&:hover,&:focus{
				.officer-overlay{
					display:inline-block;
				}
			}
		}
	}
}

#book-list{
	display:inline-block;
	a{
		img{
			opacity:0.5;
		}
		&:hover,&:focus,&.active{
			img{
				opacity:1;
			}	
		}
	}
}

.bb-custom-wrapper {
	width: 420px;
	position: relative;
	margin: 0 auto 40px;
	text-align: center;

	&.hide{
		display:none;
	}
}

.bb-custom-wrapper .bb-bookblock {
	box-shadow: 0 12px 20px -10px rgba(81,64,49,0.6);
	img{
		width:100%;
	}
}

.bb-custom-wrapper h3 {
	font-size: 1.4em;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.bb-custom-wrapper nav {
	width: 100%;
	height: 30px;
	margin: 1em auto 0;
	position: relative;
	z-index: 0;
	text-align: center;
}

.bb-custom-wrapper nav a {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 2px;
	background: #e3979b;
	color: #fff;
	font-size: 0;
	margin: 2px;
}

.bb-custom-wrapper nav a:hover {
	opacity: 0.6;
}

.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;
	line-height: 30px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}

.bb-item,.bb-page{
	background:none;
	height:auto;
}

.bb-custom-wrapper{
	width:100%;
	max-width: 600px;
}

.bb-bookblock{
	width:100%;
	height:auto;
}

#subscribe-form{
	input{
		border:1px solid #000;
		color:#000;
		font-size: 1.5rem;
		height:43px;
	}
}

.subscribe-submit-btn{
	background:none;
	padding:0px;
}

.officer-overlay{
	position:absolute;
	display:none;
	z-index: 2;
	top:0px;
	left:0px;
	border-radius: 100000;
	-moz-border-radius: 100000;
	-webkit-border-radius: 100000;
	
	width:180%;
	height:auto;
	left:50%;
	top:50%;
	.inner-overlay{
		position:relative;
		left: -50%;
		margin-top:-60%;
		.phone-logo{
			position:absolute;
			left:3%;
			top:40%;
			text-align: left;
			img{
				width:50px;
				opacity:0.6;
			}
			&:hover,&:focus{
				img{
					opacity:1;
				}
			}
			p{
				font-size: .6rem;
			}
		}
		.mail-logo{
			position:absolute;
			right:3%;
			top:40%;
			img{
				width:50px;
				opacity:0.6;
			}
			&:hover,&:focus{
				img{
					opacity:1;
				}
			}
		}

		.fb-logo{
			position:absolute;
			left:43%;
			top:3%;
			img{
				width:50px;
				opacity:0.6;
			}	
			&:hover,&:focus{
				img{
					opacity:1;
				}
			}
		}


	}
}

@media only screen and (max-width: 64.063em) {
	.officer-overlay{
		width:130%;
		.inner-overlay{
			margin-top: -65%;
		}
	}
	.about-item{
		padding: 100px 20px;
	}
	#roles-area{
		padding: 0px;
	}
}

@media only screen and (max-width: 40em) { 
	#main{
		height: auto;
		
	}
	#subscribe-area,#maps-area,#publication-area,#officer-area{
		padding-left: 20px;
		padding-right: 20px;
	}
	#contact-head{
			font-size: 4rem;
	}
	.no-padding-left,.no-padding-right{
		padding: 20px 0px;
	}
	.roles-item{
	
		a{
			
			.title{
				font-size: 1rem;
				line-height: 1.2rem;

			}
		}
	}

	.roles-popup-title{
		font-size: 2rem;
		line-height: 3rem;
	}

	.officer-detail{
		.name{
			font-size: .8rem;
		}
	}

	#maps-box{
		padding:150px 50px;
	}

	.contact-txt{
		font-size: 2rem;
	}

}

@media only screen and (max-width: 639px) {
	.officer-overlay{
		width:100%;
		.inner-overlay{
			margin-top: -60%;
		}
	}
	#officer-list{
		li{
			width:100%;
		}
	}
}

@media only screen and (max-width: 487px) {
	.officer-overlay{
		.inner-overlay{
			margin-top: -67%;
		}
	}
}
